.container {
  // border: 0.02rem solid gray;
  background-color: rgb(246, 246, 247);
  border-radius: 0.8rem;
  padding: 1rem;
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.id {
  color: rgb(172, 172, 172);
}

.image {
  padding: 1rem;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
