.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.dots {
  font-size: large;
}

.page {
  width: 3rem;
  background-color: #8f90d3;
  &:hover {
    background-color: #7677c2;
  }
}

.current {
  background-color: #3b3e85;
}
